<%- partial('_partial/head') %>

<body>
  <header id="header" class="inner"><%- partial('_partial/header') %></header>
  <div id="content" class="inner">
    <div id="main-col"><div id="wrapper"><%- body %></div></div>
    <div class="clearfix"></div>
  </div>

  <div id="footer-wrapper">
    <footer id="footer" class="inner"><%- partial('_partial/footer') %></footer>
    <%- partial('_partial/after_footer') %>
  </div>
</body>
</html>