<div class="group-text">
	<nav id="main-nav">
	  <ul>
	    <% for (var i in theme.menu){ %>
	      <li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
	    <% } %>
	  </ul>
	  <div class="clearfix"></div>
	</nav>
	<div class="main-header">
	  <h1><a href="<%- config.root %>"><%= config.title %></a></h1>
	  <h2><a href="<%- config.root %>"><% if (config.subtitle){ %><%= config.subtitle %><% } %></a></h2>
	</div>
	<div class="clearfix"></div>
</div>